$j-fs: flex-start;
$j-end: flex-end;
$j-center: center;
$j-sb: space-between;
$j-sa: space-around;

$a-fs: flex-start;
$a-end: flex-end;
$a-center: center;
$a-bl: baselie;
$a-st: stretch;

@mixin flex($flex-j: $j-fs, $flex-a: $a-st) {
  display: flex;
  justify-content: $flex-j;
  align-items: $flex-a;
}