$j-fs: flex-start;
$j-end: flex-end;
$j-center: center;
$j-sb: space-between;
$j-sa: space-around;

$a-fs: flex-start;
$a-end: flex-end;
$a-center: center;
$a-bl: baselie;

//media
$screen-xs: 320px;
$screen-sm: 760px;
$screen-md: 1100px;
$screen-lg: 1580px;

$container-xs: 320px;
$container-sm: 660px;
$container-md: 960px;
$container-lg: 1200px;

$color-b: #2E2F22;