{% extends "templates/default.html" %}
{% set title = "Первая страница"%}
{% import "includes/macros.html" as macro %}


{% block content %}

<body>
  <div class="page">
    <div class="page__wrap">
      {% block header %}
      {% include "includes/header.html" %}
      {% endblock %}
      <main class="main">
        <div class="container">
          <div class="main__content content">
            <h1 class="content__title title title--two">
              {{ title }}
            </h1>
            <div class="content__wrap">
              <section class="content__item">
                <div class="section-one">
                  <div class="section-one__cards">
                    {{ macro.card('img/image-2.jpg', 'Заголовок для первой карточка', 'Достаточно краткое
                      описание для <b>первой</b> карточки')}}

                    {{ macro.card('img/image-3.jpg', 'Вторая карточка',  'Достаточно краткое описание для <b>ворой</b> карточки')}}

                    {{ macro.card('img/image-4.jpg', 'Третья карточка',  'Достаточно краткое описание для <b>третьей</b> карточки')}}

                    {{ macro.card('img/image-5.jpg', 'Четвёртая карточка',  'Достаточно краткое описание для <b>четвёртой</b> карточки')}}
                  </div>
                </div>
              </section>
              <section class="content__item section-two">
                <p class="main__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ea aut aspernatur illo? Amet itaque
                  voluptatum vitae, consequuntur sequi quis, similique aliquid alias accusantium veniam autem. Suscipit
                  ullam praesentium accusantium, soluta maiores tempore minima mollitia incidunt architecto a? Provident
                  debitis atque, quo voluptates quos sunt adipisci deleniti ex itaque nostrum explicabo
                </p>
              </section>
              <section class="content__item section-three">
                <p class="main__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ea aut aspernatur illo? Amet itaque
                  voluptatum vitae, consequuntur sequi quis, similique aliquid alias accusantium veniam autem. Suscipit
                  ullam praesentium accusantium, soluta maiores tempore minima mollitia incidunt architecto a? Provident
                  debitis atque, quo voluptates quos sunt adipisci deleniti ex itaque nostrum explicabo
                </p>
              </section>
            </div>
          </div>
        </div>
      </main>
      {% block footer %}
      {% include "includes/footer.html" %}
      {% endblock %}
    </div>
  </div>
</body>
{% endblock %}